{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <title>{% block title %}Loan App{% endblock %}</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">

  <link rel="icon" href="data:,">

  <script src="https://cdn.tailwindcss.com"></script>

  {% block charts %}
  {% endblock %}

  <link rel="manifest" href="{% static 'manifest.json' %}">
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register("{% static 'service-worker.js' %}")
        .then(() => console.log("✅ Service Worker registered"))
        .catch(err => console.error("❌ SW registration failed:", err));
    }
  </script>

  <style>
    :root {
      --primary: #28485d;
      --primary-light: #d45d30;
      --secondary: #c23000;
      --text: #1d1d1f;
      --text-light: #6a6a6a;
      --border: #e5e7eb;
      --success: #10b981;
      --error: #ef4444;
    }

    body {
      font-family: 'Poppins', sans-serif;
      background-color: #f3f4f6;
      color: var(--text);
      -webkit-tap-highlight-color: transparent;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }
  </style>

  {% block extra_head %}
  {% endblock %}
</head>

<body>
  {% block content %}
  {% endblock %}
</body>

</html>